In [1]:
#input
import pandas as pd
import math

In [7]:
data = {
    "x1": [0,0,0,1,0,1,0],
    "x2": [0,1,0,0,1,1,1],
    "x3": [1,0,1,0,1,0,0],
    "x4": [0,0,1,1,0,0,1],
    "y": [0,0,1,1,0,0,0]
}
data_frame = pd.DataFrame(data)
data_frame

   x1  x2  x3  x4  y
0   0   0   1   0  0
1   0   1   0   0  0
2   0   0   1   1  1
3   1   0   0   1  1
4   0   1   1   0  0
5   1   1   0   0  0
6   0   1   0   1  0

In [3]:
#calculate entropy
def entropy (data):

    entropy = 0
    data_p = len(data[data['y'] == 1])/len(data)
    data_n = len(data[data['y'] == 0])/len(data)

    if data_p != 0 and data_n != 0: # decide if the tree equal to zero
        entropy = -data_p*math.log2(data_p) - data_n*math.log2(data_n)

    return entropy

In [8]:
def information_gain_fun(data):
    
    copy_data_frame = data
    len_col = len(copy_data_frame.columns)
    len_x = len_col-1

    output_table = pd.DataFrame(columns = ['factor','information_gain'])
    total_entropy = entropy(copy_data_frame)

    for i in range(len_x):
        varx = copy_data_frame.columns[i]

        xp = copy_data_frame[copy_data_frame[varx] == 1] #x = 1 data
        entropy_xp = entropy(xp) #x = 1 entropy
    
        xn = copy_data_frame[copy_data_frame[varx] == 0] #x = 0 data
        entropy_xn = entropy(xn) #x = 0 entropy

        length_total = len(copy_data_frame)
        length_xp = len(xp)
        length_xn = len(xn)

        expected_entropy = (length_xp/length_total)*entropy_xp + (length_xn/length_total)*entropy_xn
        information_gain = total_entropy - expected_entropy

        row = {'factor': varx,"information_gain":information_gain}
        output_table = pd.concat([output_table, pd.DataFrame([row])], ignore_index = True)

        #print(varx, information_gain) #is two informaiton gain, what can we do?
    return output_table

In [9]:
#tree split
def split (data, select_factor, num):
    num = num
    split_tree = data[data[select_factor] == num]
    #determine the function of y
    if split_tree['y'].nunique() == 1:
        end_point1 = [select_factor, num, int(split_tree['y'].unique())]
        #print(end_point1)
        return end_point1
    else:
        updata1 = split_tree.loc[:, split_tree.columns != select_factor]
        return updata1

In [11]:
copy_data_frame2 = data_frame
stop_positive = True
stop_negative = True

while (stop_positive or stop_negative):
    
    output_table = information_gain_fun(copy_data_frame2)
    select_value = output_table.sort_values(by = ['information_gain'], ascending = False).iloc[0]
    print(output_table)
    print(select_value)

    select_factor = select_value['factor']
    
    #positive split
    if stop_positive:
        update1 = split(copy_data_frame2, select_factor, 1) #positive split
        if isinstance(update1, list):
            print(update1)
            stop_positive = False # Stop the loop after printing
        else:
            copy_data_frame2 = update1
    
    #negative split
    if stop_negative:
        update0 = split(copy_data_frame2, select_factor, 0) #negative split
        if isinstance(update0, list):
            print(update0)
            stop_negative = False  # Stop the loop after printing
        else:
            copy_data_frame2 = update0

  factor  information_gain
0     x1          0.061743
1     x2          0.469565
2     x3          0.005978
3     x4          0.469565
factor                    x2
information_gain    0.469565
Name: 1, dtype: object
['x2', 1, 0]
  factor  information_gain
0     x1          0.251629
1     x3          0.251629
2     x4          0.918296
factor                    x4
information_gain    0.918296
Name: 2, dtype: object
['x4', 0, 0]

Question 1

In [8]:
# for question 1

#first split
copy_data_frame = data_frame

#second split
#split_tree = data_frame[data_frame['x2'] == 0]
#copy_data_frame = split_tree.loc[:, split_tree.columns != 'x2']

len_col = len(copy_data_frame.columns)
len_x = len_col-1

total_entropy = entropy(copy_data_frame)
print(total_entropy)

for i in range(len_x):
    varx = copy_data_frame.columns[i]

    xp = copy_data_frame[copy_data_frame[varx] == 1] #x = 1 data
    entropy_xp = entropy(xp) #x = 1 entropy

    xn = copy_data_frame[copy_data_frame[varx] == 0] #x = 0 data
    entropy_xn = entropy(xn) #x = 0 entropy

    length_total = len(copy_data_frame)
    length_xp = len(xp)
    length_xn = len(xn)

    expected_entropy = (length_xp/length_total)*entropy_xp + (length_xn/length_total)*entropy_xn
    information_gain = total_entropy - expected_entropy

    print(length_xp/length_total, entropy_xp, length_xn/length_total, entropy_xn, information_gain)

0.863120568566631
0.2857142857142857 1.0 0.7142857142857143 0.7219280948873623 0.061743357932800724
0.5714285714285714 0 0.42857142857142855 0.9182958340544896 0.46956521111470695
0.42857142857142855 0.9182958340544896 0.5714285714285714 0.8112781244591328 0.0059777114237739015
0.42857142857142855 0.9182958340544896 0.5714285714285714 0 0.46956521111470695

Qeustion 2

In [5]:
#input
import pandas as pd
import math

In [115]:
#input
import pandas as pd
import math

tennis_data = {
    "x1": [0,0,1,2,2,2,1,0,0,2,0,1,1,2], # Outlook(x1): sunny (0), O(1), R (2)
    "x2": [0,0,0,1,2,2,2,1,2,1,1,1,0,1], # T(x2): H (0), M(1), C(2)
    "x3": [0,0,0,0,1,1,1,0,1,1,1,0,1,0], # H (x3): H (0), N(1)
    "x4": [1,0,1,1,1,0,0,1,1,1,0,0,1,0], # W(x4): S(0), W(1)
    "y": [0,0,1,1,1,0,1,0,1,1,1,1,1,0] #-(0), +(1)
} 

tennis_frame = pd.DataFrame(tennis_data)
tennis_frame

    x1  x2  x3  x4  y
0    0   0   0   1  0
1    0   0   0   0  0
2    1   0   0   1  1
3    2   1   0   1  1
4    2   2   1   1  1
5    2   2   1   0  0
6    1   2   1   0  1
7    0   1   0   1  0
8    0   2   1   1  1
9    2   1   1   1  1
10   0   1   1   0  1
11   1   1   0   0  1
12   1   0   1   1  1
13   2   1   0   0  0

In [116]:
def ME_fun(data):
    data_p = len(data[data['y'] == 1]) # ME equals to error 
    data_n = len(data[data['y'] == 0])
    max_p_n = min(data_p, data_n)
    sum_p_n = data_p + data_n
    ME = max_p_n/sum_p_n
    number_lst = [data_p, data_n, ME]
    return(number_lst)

In [46]:
# for question 1
#first split

#total_ME = ME_fun(copy_data_frame)[2]

    x2  x4  y
3    1   1  1
13   1   0  0

In [123]:
#first split
#copy_data_frame = tennis_frame

#second split
split_tree = tennis_frame[tennis_frame['x1'] == 2]
copy_data_frame = split_tree.loc[:, split_tree.columns != 'x1']
#split_tree2 = copy_data_frame0[copy_data_frame0['x1'] == 2]
#copy_data_frame = split_tree2.loc[:, split_tree2.columns != 'x1']

len_col = len(copy_data_frame.columns)
len_x = len_col-1
total_lst = ME_fun(copy_data_frame)
total_ME = total_lst[2]
print(total_lst)
print(total_ME)
length_total = len(copy_data_frame)

for i in range(len_x):
    varx = copy_data_frame.columns[i]
    varx_categorpy = copy_data_frame[varx].unique()
    ME_lst = []
    len_var = len(copy_data_frame[varx])

    for i in sorted(varx_categorpy):
        xp = copy_data_frame[copy_data_frame[varx] == i] #x = 1 data
        return_lst = ME_fun(xp) #x = 1 entropy
        length_x = len(xp)
        ME_x_category = (length_x/len_var)*return_lst[2]
        ME_lst.append(ME_x_category)
        print(return_lst, length_x/len_var, ME_x_category)

    expected_ME = sum(ME_lst)
    information_gain = total_ME - expected_ME
    print(expected_ME, total_ME, information_gain)

[3, 2, 0.4]
0.4
[2, 1, 0.3333333333333333] 0.6 0.19999999999999998
[1, 1, 0.5] 0.4 0.2
0.4 0.4 0.0
[1, 1, 0.5] 0.4 0.2
[2, 1, 0.3333333333333333] 0.6 0.19999999999999998
0.4 0.4 0.0
[0, 2, 0.0] 0.4 0.0
[3, 0, 0.0] 0.6 0.0
0.0 0.4 0.4

In [124]:
copy_data_frame

    x2  x3  x4  y
3    1   0   1  1
4    2   1   1  1
5    2   1   0  0
9    1   1   1  1
13   1   0   0  0

Question 3

In [81]:
def Gini(data):
    np = len(data[data['y'] == 1])
    nn = len(data[data['y'] == 0])
    data_p = np/len(data)
    data_n = nn/len(data)

    data_p2 = math.pow(data_p, 2) 
    data_n2 = math.pow(data_n, 2) 

    gini = 1 - data_p2 - data_n2

    number_lst = [np, nn, data_p, data_n, gini]
    return(number_lst)

In [8]:
#first split
#copy_data_frame =  tennis_frame

#second split
split_tree = tennis_frame[tennis_frame['x1'] == 2] # 0 or 2
copy_data_frame = split_tree.loc[:, split_tree.columns != 'x1']


len_col = len(copy_data_frame.columns)
len_x = len_col-1
total_lst = Gini(copy_data_frame)
total_gini = total_lst[4]
print(total_lst)

#length_total = len(copy_data_frame)

for i in range(len_x):
    varx = copy_data_frame.columns[i]
    varx_categorpy = copy_data_frame[varx].unique()
    len_var = len(copy_data_frame[varx])

    gini_lst = []
    for i in sorted(varx_categorpy):
        xp = copy_data_frame[copy_data_frame[varx] == i] #x = 1 data

        return_lst = Gini(xp) #x = 1 entropy
        length_x = len(xp)
        gini_x_category = (length_x/len_var)*return_lst[4]
        gini_lst.append(gini_x_category)

        print(return_lst, length_x/len_var, gini_x_category)

    expected_gini = sum(gini_lst)
    information_gain = total_gini - expected_gini
    print(total_gini, expected_gini,information_gain)

NameError: name 'Gini' is not defined

Question 4

In [62]:
#input
import pandas as pd
import numpy as np
import math

tennis_data = {
    "x1": [0,0,1,2,2,2,1,0,0,np.nan,0,1,1,2], # Outlook(x1): sunny (0), O(1), R (2)
    "x2": [0,0,0,1,2,2,2,1,2,1,1,1,0,1], # T(x2): H (0), M(1), C(2)
    "x3": [0,0,0,0,1,1,1,0,1,1,1,0,1,0], # H (x3): H (0), N(1)
    "x4": [1,0,1,1,1,0,0,1,1,1,0,0,1,0], # W(x4): S(0), W(1)
    "y": [0,0,1,1,1,0,1,0,1,1,1,1,1,0] #-(0), +(1)
} 

tennis_frame = pd.DataFrame(tennis_data)
tennis_frame

     x1  x2  x3  x4  y
0   0.0   0   0   1  0
1   0.0   0   0   0  0
2   1.0   0   0   1  1
3   2.0   1   0   1  1
4   2.0   2   1   1  1
5   2.0   2   1   0  0
6   1.0   2   1   0  1
7   0.0   1   0   1  0
8   0.0   2   1   1  1
9   NaN   1   1   1  1
10  0.0   1   1   0  1
11  1.0   1   0   0  1
12  1.0   0   1   1  1
13  2.0   1   0   0  0

In [30]:
# Approach 1: Use the most common value in the training data as the missing value,
max_value = tennis_frame['x1'].value_counts().idxmax() #calculate the frequency of x1
tennis_frame['x1'].replace(np.nan, max_value, inplace=True) #replace

In [33]:
# Approach 2: Use the most common value in the training data as the missing value,
#select the attribute is yes
same_label = tennis_frame[tennis_frame['y']==1]
max_value = same_label['x1'].value_counts().idxmax() #calculate the frequency of x1
tennis_frame['x1'].replace(np.nan, max_value, inplace=True) #replace

In [63]:
# Approach 3: Use the fractional counts to infer the feature values
#select the attribute is yes
# Set a random seed to ensure reproducibility
np.random.seed(42)

fractional_counts = tennis_frame['x1'].value_counts(normalize=True)
series = tennis_frame['x1']
tennis_frame['x1'] = series.apply(lambda x: np.random.choice(fractional_counts.index, p=fractional_counts.values) if pd.isna(x) else x)
tennis_frame

     x1  x2  x3  x4  y
0   0.0   0   0   1  0
1   0.0   0   0   0  0
2   1.0   0   0   1  1
3   2.0   1   0   1  1
4   2.0   2   1   1  1
5   2.0   2   1   0  0
6   1.0   2   1   0  1
7   0.0   1   0   1  0
8   0.0   2   1   1  1
9   0.0   1   1   1  1
10  0.0   1   1   0  1
11  1.0   1   0   0  1
12  1.0   0   1   1  1
13  2.0   1   0   0  0

In [64]:
#calculate entropy
def entropy (data):

    entropy = 0

    np = len(data[data['y'] == 1])
    nn = len(data[data['y'] == 0])
    data_p = np/len(data)
    data_n = nn/len(data)

    if data_p != 0 and data_n != 0: # decide if the tree equal to zero
        entropy = -data_p*math.log2(data_p) - data_n*math.log2(data_n)
        number_lst = [np, nn, data_p, data_n, entropy]
        return number_lst
    else:
        number_lst = [np, nn, data_p, data_n, 0]
        return number_lst

In [66]:
#first split
#copy_data_frame =  tennis_frame

#second split
split_tree = tennis_frame[tennis_frame['x1'] == 2] # 0 or 2
copy_data_frame = split_tree.loc[:, split_tree.columns != 'x1']


len_col = len(copy_data_frame.columns)
len_x = len_col-1
total_lst = entropy(copy_data_frame)
total_entropy = total_lst[4]
print(total_lst)

#length_total = len(copy_data_frame)

for i in range(len_x):
    varx = copy_data_frame.columns[i]
    varx_categorpy = copy_data_frame[varx].unique()
    len_var = len(copy_data_frame[varx])

    entropy_lst = []
    for i in sorted(varx_categorpy):
        xp = copy_data_frame[copy_data_frame[varx] == i] #x = 1 data

        return_lst = entropy (xp) #x = 1 entropy
        length_x = len(xp)
        entropy_x_category = (length_x/len_var)*return_lst[4]
        entropy_lst.append(entropy_x_category)

        print(return_lst, length_x/len_var, entropy_x_category)

    expected_entropy = sum(entropy_lst)
    information_gain = total_entropy - expected_entropy
    print(total_entropy, expected_entropy,information_gain)

[2, 2, 0.5, 0.5, 1.0]
[1, 1, 0.5, 0.5, 1.0] 0.5 0.5
[1, 1, 0.5, 0.5, 1.0] 0.5 0.5
1.0 1.0 0.0
[1, 1, 0.5, 0.5, 1.0] 0.5 0.5
[1, 1, 0.5, 0.5, 1.0] 0.5 0.5
1.0 1.0 0.0
[0, 2, 0.0, 1.0, 0] 0.5 0.0
[2, 0, 1.0, 0.0, 0] 0.5 0.0
1.0 0.0 1.0

In [67]:
copy_data_frame

    x2  x3  x4  y
3    1   0   1  1
4    2   1   1  1
5    2   1   0  0
13   1   0   0  0

In [18]:
0.5 *math.log2(0.5)+0.5*math.log2(0.5)

-1.0

In [19]:
0.940 - (6/14*1.0 + 4/14*0+ 4/14* 1)

0.22571428571428576